.grid-33
	.app--section
		ul.app--message--list
			li
				h3 Conversations with 
					a(href="#") #{timeline[0].user.screen_name}
				ul.app--message--conversation
					each sorted_message in sorted_messages 
						li(class=sorted_message.sender.name === "Robert Manolis" ? "app--message--me" : "app--message")
							.app--avatar(style='background-image: url(' + sorted_message.sender.profile_image_url + ')')
								//img(src=sorted_message.sender.profile_image_url)
							p.app--message--text #{sorted_message.text}
							p.app--message--timestamp #{sorted_message.created_at.slice(0,19)}